---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Desarrollador Frontend Junior con sólida formación en arquitectura de
    software y mejores prácticas de desarrollo. Dominio de tecnologías web
    modernas como JavaScript y React, implementando Clean Architecture y
    patrones de diseño para crear código mantenible y escalable. Experiencia en
    el desarrollo de interfaces utilizando Tailwind CSS, gestión de estados con
    Zustand y conocimientos en bases de datos SQL. Comprometido con la
    excelencia técnica y la aplicación de principios de desarrollo limpio para
    construir soluciones robustas y eficientes.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachiller en ciencias"
      subtitle="[2012] a [2017], [Falcón], [Venezuela]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Desarrollo Web con React (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Diseño Resposive (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>React JS</li>
    <li>Zustand</li>
    <li>TailwindCSS</li>
    <li>HTML</li>
    <li>Git y Github</li>
    <li>Astro</li>
    <li>SQL</li>
    <li>Next JS</li>
    <li>Node</li>
    <li>TypeScritp</li>
  </ul>
</BaseLayout>
